{% extends 'dashboard/base.html' %}

{% block title %}
Insert
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6" >
            <fieldset >
                <legend class="text-center mb-5">
                    Add Docx
                </legend>

                <form action="/insert/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="">Upload Image</label>
                    <input type="file" name="post_image" class="form-control mb-3" id="">

                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control mb-3" id="">

                    <label for="">Content</label>
                    <textarea name="content" class="form-control mb-3" id=""></textarea>

                    <input type="submit" name="" id="" class="btn btn-dark" value="Submit">
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
